*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  width: 1140px;
  display: flex;
  align-items: end;
  gap: 30px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 15px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: inherit;
  margin-bottom: 5px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: rgb(84 80 80);
}

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: inherit;
}

.content__video-card {
  display: flex;
}


.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 6px;
}

.content__video-card-description {
  line-height: 16.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}



.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
